<html><script>#! x %= `${ import {{{ TEMPL_STR }}}; <!-- <expr> -- }`; 
export var x = `${ x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}] }`; ;; export var x = `${ {{ TEMPL_STR }} }`; ;; yield {{ TEMPL_STR }}; yield {{ TEMPL_STR }}; <!-- <expr> --export var x = {{ TEMPL_STR }};; let x = {{ TEMPL_STR }};export var x = `${ <!-- <expr> --<!-- <expr> --<!-- <expr> -- }`; ;; import {{{ TEMPL_STR }}}; import {{{ TEMPL_STR }}}; export let x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}];; <!-- <expr> --yield {{ TEMPL_STR }}; for (x %= , x <<= <value>, x %= ) { yield ;  }; if (x <<= <value> == true) {  }; for (, , ) {  }; </script></html>