<html><script>`${ x += `${ let x = `${ import {{{ TEMPL_STR }}}; `${  }`; export const x = {{ TEMPL_STR }};;  }`; ; }`;  }`; yield {{ TEMPL_STR }}; var x = {{ TEMPL_STR }};import {{{ TEMPL_STR }}}; export var x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}];; const x = `${ var x = `${ x |= `${  }`;  }`; ;export const x = {{ TEMPL_STR }};; `${ x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}] }`; var x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}];let x = `${  }`; ;<!-- <expr> --for (, , ) {  };  }`; ;</script></html>