<html><script>export let x = `${ x %= {{ TEMPL_STR }} }`; ;; export var x = `${ let x = [{{ TEMPL_STR }}, {{ TEMPL_STR }}, {{ TEMPL_STR }}]; }`; ;; export const x = {{ TEMPL_STR }};; import {{{ TEMPL_STR }}}; </script></html>